# Quarto
/.quarto/
/_site/
/_freeze/
*.quarto_ipynb
**/*.quarto_ipynb
**/.jupyter_cache/*

# Data files
*.csv
*.gzip
*.parquet
*.pickle

# Environments
.env
.venv


# Linters
/.ruff_cache/

# VSCode
/.vscode/

# Log files
*.log
.DS_Store
